<div>

  <%= simple_form_for [:account, current_user] do |f|%>


    <div class="view overlay hm-blue-light">
        <img src="http://mdbootstrap.com/images/regular/nature/img%20(1).jpg" class="img-fluid " alt="">
        <div class="mask flex-center">
            <p class="white-text">点击上传头像</p>
        </div>
    </div>


    <div>
      <% if current_user.avatar.present? %>
        <%= image_tag(current_user.avatar.thumb.url) %>
      <% else %>
        <%= image_tag current_user.gravatar_url(:size => 100) %>
      <% end %>

      <%= f.input :avatar, as: :file, :label => "头像" %>
    </div>

    <div>
      <%= f.input :nickname, label:"昵称" %>
      <%= f.input :description, label:"个性签名" %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "更新" %>
    </div>

  <% end %>
</div>
