<h2>用户资料</h2>

<hr/>

<!-- <div>
    <%= link_to("查看修改", edit_user_registration_path, class: "btn btn-default pull-right") %>
</div> -->

<div>

  <%= simple_form_for [:account, current_user] do |f|%>


    <div>
      <% if current_user.avatar.present? %>
        <%= image_tag(current_user.avatar.thumb.url) %>
      <% else %>
        <%= image_tag current_user.gravatar_url(:size => 100) %>
      <% end %>
      <br>
      <br>
      <%= f.input :avatar, as: :file, :label => "请上传头像图片" %>
    </div>

    <div>
      <%= f.input :nickname, label:"昵称" %>
      <%= f.input :description, label:"个性签名" %>
      <%= f.input :age, label:"年龄", collection: 18..40, prompt: "请选择年龄", selected: 28 %>
      <%= f.input :sex, label:"性别", collection: ["男", "女"], prompt: "请选择性别", selected: "女" %>
      <%= f.input :district, label:"地区", collection: ["北京", "上海", "广州", "深圳"], prompt: "请选择地区", selected: "北京" %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "更新保存" %>
      <a href=""><button class="btn btn-default" name="button">取消返回</button></a>
    </div>

  <% end %>
</div>
