<h2 style="color: red;">
  我的资料
</h2>

<div>
  <p>
    <% if current_user.nickname.empty?%>
      <%= link_to("填写资料", edit_account_user_path(current_user), class: "btn btn-danger btn-lg pull-right") %>
    <% else %>
      <%= link_to("修改资料", edit_account_user_path(current_user), class: "btn btn-danger btn-lg pull-right") %>
    <% end %>
  </p>
  <p>
    <%= link_to("修改密码或注销用户", edit_user_registration_path, class: "btn btn-default pull-right") %>
  </p>
</div>
<br>

<hr>
用户昵称
<h1><%= current_user.nickname %></h1>
用户描述
<h2><%= current_user.description %></h2>
<br>
用户头像
<br>
<%= image_tag current_user.gravatar_url %>

<!-- <% if current_user.avatar.present?%>
    <%= image_tag(current_user.avatar.url) %>
<% else %> -->

<% end %>
<hr>

用户邮箱
<h1><%= current_user.email %></h1>
