<h2 style="color: red;">
  我是用户中心
</h2>


<% if current_user.nickname.empty?%>
  <%= link_to("填写资料", edit_account_user_path(current_user), class: "btn btn-danger btn-lg pull-right") %>
<% else %>
  <%= link_to("修改资料", edit_account_user_path(current_user), class: "btn btn-danger btn-lg pull-right") %>
<% end %>

<hr>
用户昵称
<h1><%= current_user.nickname %></h1>
用户描述
<h2><%= current_user.description %></h2>
用户头像
<br>
<%= image_tag current_user.gravatar_url %>

<!-- <% if current_user.avatar.present?%>
    <%= image_tag(current_user.avatar.url) %>
<% else %> -->

<% end %>
<hr>
用户ID
<h1><%= current_user.id %></h1>
用户邮箱
<h1><%= current_user.email %></h1>
上次登陆
<h3><%= current_user.last_sign_in_at %></h3>
<h3><%= current_user.last_sign_in_ip %></h3>
