<h2>变更密码</h2>

<hr/>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, autocomplete: "off", hint: "如果您不想更改密码，无需填写", required: false %>
    <%= f.input :password_confirmation, required: false %>
    <%= f.input :current_password, required: true %>
  </div>

  <div class="devise-form-actions row">
    <div class="col-md-4">
      <%= f.button :submit, "更新密码", :class => "btn btn-primary" %>
      <%= link_to("取消返回", account_user_path(current_user.id), :class => "btn btn-info") %>
    </div>

   <!-- <div class="col-md-3 col-md-offset-5">
            <%= link_to "删除我的账户", registration_path(resource_name), :class => "btn btn-warning",
                data: { confirm: "真的删除账户吗？" }, method: :delete %>
        </div> -->
  </div>

<% end %>
