<!DOCTYPE html>
<html lang="en">
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">

		<!-- Website CSS style -->
		<link rel="stylesheet" type="text/css" href="assets/css/main.css">
    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
	</head>

    <body>
  		<div class="container">
  			<div class="row main">
  				<div class="panel-heading">
  	               <div class="panel-title text-center">
  	               		<h2 class="title">新用户注册</h2>
  	               		<hr />
  	               	</div>
  	            </div>
  				<div class="main-login main-center">

                  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= f.error_notification %>

                  <div class="form-inputs">
                    <%= f.input :email, required: true, autofocus: true, placeholder:"请检查邮箱已输入正确" %>
                    <%= f.input :password, required: true, placeholder:"请输入英文和数字组合，最少#{@minimum_password_length}位" if @minimum_password_length %>
                    <%= f.input :password_confirmation, required: true, placeholder:"请再次输入密码" %>
                  </div>

                  <br>

                  <div class="form-actions" >
                    <%= f.button :submit, "注册", :class => "btn btn-primary btn-lg btn-block login-button"%>
                  </div>
                  <% end %>

                  <br>

                  <div class="form-actions" align=center>
                  <%= render "devise/shared/links" %>
                  </div>

  					</form>
  				</div>
  			</div>
  		</div>

  		<script type="text/javascript" src="assets/js/bootstrap.js"></script>
  	</body>
  </html>
