<div>
  <h3>我的作品   <%= link_to("添加作品", new_admin_work_path, class: "btn btn-info" ) %>
    </h3>
</div>


<hr>


<table class="table table-bordered">

  <thead>
    <tr>
      <th>图片</th>
      <th>作品名称</th>
      <th>描述</th>
      <th>参考价格</th>
      <th>编辑</th>
    </tr>
  </thead>
  <% @works.each do |work| %>
  <tr>
    <td>
      <% if work.image.present? %>
        <%= image_tag(work.image.thumb.url, class:"thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/200x200&text=work", class:"thumbnail")%>
      <% end %>
    </td>
    <td>
      <%= render_work_status(work) %>
      <%= work.title%>
    </td>
    <td>
      <%= work.description %>
    </td>
    <td>
      <%= work.price %>
    </td>
    <td>
      <%= link_to("编辑", edit_admin_work_path(work), :class => "btn btn-xs btn-warning") %>
      |
      <%= link_to("删除", admin_work_path(work), :method => :delete, :data => { :confirm => "Are you sure?" }, :class => "btn btn-xs btn-danger d") %>
      |

     <% if work.is_hidden %>
       <%= link_to("发布", publish_admin_work_path(work), :method => :post, :class => "btn btn-xs btn-success") %>
     <% else %>
       <%= link_to("隐藏", hide_admin_work_path(work), :method => :post, :class => "btn btn-xs btn-default") %>
     <% end %>
    </td>
  </tr>
  <% end %>
</table>
