<h1>Your conversations</h1>
<p><%= link_to 'Start conversation', new_message_path, class: 'btn btn-lg btn-primary' %></p>
<ul>
  <%= @conversations.each do |conversation| %>
    <li class="list-group-item clearfix">
      <%= link_to conversation.subject, conversation_path(conversation) %>
    </li>
  <% end %>
</ul>

<hr>
<h1>联系人</h1>
<div class="container">
  <div class="">
    <table>
      <tbody>
        <%= @users.each do |user| %>
        <tr>
          <td>
            <%= user.email %>
          </td>
          <td>
            <%= user.nickname %>
          </td>
          <td>
            <%= render 'common/avatar' %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
