
<div id="coverphoto-designer" style="background-image:url(http://s4.favim.com/610/151110/aesthetic-background-backgrounds-black-Favim.com-3547524.png)">
  <div style="height: 300px; margin-top:50" >
    <div class="coverphoto-gradient" style="height:120px; padding-top: 160px;">
    </div>
    <div class="row" style="padding-top: 100px;">

      <div class="col-md-offset-2 col-md-2 col-xs-offset-5" >
        <% if @designer.avatar.present? %>
        <%= image_tag(@designer.avatar.url, class:"avatar-designer-show img-responsive")%>
        <% else %>
        <%= image_tag("http://placehold.it/300x300&text=avatar", class:"avatar-designer-show img-responsive")%>
        <% end %>
      </div>

      <div class="row">

        <div class="col-md-3" style="color: #fff">
          <h1>
            <%= @designer.nickname %><small style="color: #fff">  的主页</small>
          </h1>
        </div>

        <div class="col-md-3">
          <%= link_to(content_tag(:i, "发起对话", class: "fa fa-paper-plane"), account_user_conversation_path(@designer.token), :class => "designer-conversation-btn") %>
        </div>
        <hr>
        <h2 class="designer-description col-md-7 col-sm-12">
          <% if @designer.description.present? %>
          <%= @designer.description %>
          <% else %>
          这个达人很酷,还没有自我简介。
          <% end %>
        </h2>


      </div>


    </div>
  </div>
</div>
