<h2 class="text-center">全部达人作品</h2>

<hr>
<br>

<% @works.shuffle.each do |work| %>
<div class="col-sm-12">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">
                <%= work.title%></h3>
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <tbody>
                <td>
                    <% if work.image.present? %>
                    <%= image_tag(work.image.thumb.url, class:"thumbnail") %>
                <% else %>
                    <%= image_tag("http://placehold.it/200x200", class:"thumbnail")%>
                    <% end %>
                </td>
                <td>
                    <%= work.description %>
                </td>
                <td>
                    参考价格<%= work.price %>
                </td>
                <td>
                    达人<%= work.user_id %>
                </td>
              </tbody>
        </table>
    </div>
  </div>
</div>
<% end %>




<div class="text-center">
    <%= will_paginate @works %>
</div>
