
<section class="publicaciones-blog-home">
  <div class="container">
    <div class="">
      <h2>达人作品  <b>样式一</b></h2>
      <div class="row-page row">

        <% @works.each do |work| %>
            <div class="col-page col-sm-4 col-md-3" style="padding-left: 0px;">
              <%= link_to(designer_path(work.user.token), class:"fondo-publicacion-home") do %>
                <!-- <a href=""  class="fondo-publicacion-home"> -->
                  <div class="img-publicacion-home">
                    <% if work.image.present? %>
                        <%= image_tag(work.image.thumb.url, class:"thumbnail img-responsive") %>
                    <% else %>
                        <%= image_tag("http://placehold.it/200x200&text=work", class:"thumbnail img-responsive")%>
                    <% end %>
                  </div>
                  <div class="contenido-publicacion-home">
                    <h3><%= work.title %></h3>
                    <p><%= work.description %></p>
                  </div>
                  <div class="mascara-enlace-blog-home">
                    <span><%= work.user.nickname %>
                      <small>的主页</small>
                    </span>
                  </div>
                <!-- </a> -->
              <% end %>
            </div>
        <% end %>

      </div>
    </div>
  </div>
</section>
<!-- 》》》》》》》》》》》》》》》》》》》》》》》》》》》》》》》》》》》》》》 -->



<section class="publicaciones-blog-home">
  <div class="container">
    <div class="">
      <h2>达人作品  <b>样式二</b></h2>
      <div class="row-page row">

        <% @works.each do |work| %>
            <div class="col-page col-sm-8 col-md-6">
              <%= link_to(designer_path(work.user.token), class:"fondo-publicacion-home") do %>
                <!-- <a href=""  class="fondo-publicacion-home"> -->
                  <div class="img-publicacion-home">
                    <% if work.image.present? %>
                        <%= image_tag(work.image.thumb.url, class:"thumbnail img-responsive") %>
                    <% else %>
                        <%= image_tag("http://placehold.it/200x200&text=work", class:"thumbnail img-responsive")%>
                    <% end %>
                  </div>
                  <div class="contenido-publicacion-home">
                    <h3><%= work.title %></h3>
                    <p><%= work.description %></p>
                  </div>
                  <div class="mascara-enlace-blog-home">
                    <span><%= work.user.nickname %>
                      <small>的主页</small>
                    </span>
                  </div>
                <!-- </a> -->
              <% end %>
            </div>
        <% end %>

      </div>
    </div>
  </div>
</section>
<!--》》》》》》》》》》》》》》》》》》》》》》》》》》》》》》》》》》》》》》》》》》》  -->



<section id="portfolio" class="bg-light-gray">
  <div class="container" >
    <div class="row">
        <% @works.each do |work| %>
        <%= link_to(designer_path(work.user.token), class:"protfolio-link") do %>
        <% end %>
          <div class="col-md-4 col-sm-6 portfolio-item" style="padding-left: 0px;">
            <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                </div>
                <%= image_tag "portfolio/organize1.jpg", class: "img-responsive"%>
                <!-- <img class="" src="https://placeholdit.imgix.net/~text?txtsize=34&amp;txt=&amp;w=500&amp;h=300"> -->
            </a>
            <div class="portfolio-caption">
                <h4>玄关收纳</h4>
                <p class="text-muted">@正一宏洪</p>
            </div>
        </div>
        <% end %>

    </div>
  </div>
</section>
