<section id="portfolio" class="bg-light-gray">
  <div class="container" >
    <div class="row" style="padding-left:0px; padding-right:30px;">

      <% @works.each do |work| %>
      <div class="col-md-4 col-sm-6 portfolio-item" >
        <%= link_to(work_path(work), class:"portfolio-link") do %>
            <div class="portfolio-hover">

            </div>
            <% if work.image.present? %>
                <%= image_tag(work.image.thumb.url, class:"img-responsive") %>
            <% else %>
                <%= image_tag("http://placehold.it/800x800&text=work", class:"img-responsive")%>
            <% end %>
        <% end %>
        <!-- /.link_to designer_path -->
        <div class="portfolio-caption">
            <h4><%= link_to work.title, designer_path(work.user.token)%></h4>
            <p class="text-muted">@xiaofeilong<%= link_to work.user.nickname, designer_path(work.user.token) %></p>
        </div>



      </div>
      <% end %>

    </div>
  </div>
</section>
