<h2 class="text-center">全部达人作品</h2>

<hr>
<br>

<table class="table table-bordered">

  <thead>
    <tr>
      <th>图片</th>
      <th>作品名称</th>
      <th>描述</th>
      <th>参考价格</th>
      <th>作者</th>
    </tr>
  </thead>
  <% @works.each do |work| %>
  <tr>
    <td>
      <% if work.image.present? %>
        <%= image_tag(work.image.thumb.url, class:"thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/200x200", class:"thumbnail")%>
      <% end %>
    </td>
    <td>
      <%= render_work_status(work) %>
      <%= work.title%>
    </td>
    <td>
      <%= work.description %>
    </td>
    <td>
      <%= work.price %>
    </td>
    <td>
      达人<%= work.user_id %>
    </td>
    <!-- <td>
      #
    </td> -->
  </tr>
  <% end %>
</table>

<div class="text-center">
  <%= will_paginate @works %>
</div>
