<section id="portfolio" class="bg-light-gray">
<div class="search-bar">
  <%= render :partial => "designers/search_bar" %>
</div>




  <div class="container" >
    <div class="row" style="padding-left:0px; padding-right:30px;">

      <% @works.each do |work| %>
      <div class="col-md-4 col-sm-6 portfolio-item" >
        <%= link_to(work_path(work), class:"portfolio-link") do %>
            <div class="portfolio-hover" >

            </div>
            <div class="" >
              <% if work.image.present? %>
              <%= image_tag(work.image.medium.url, class:"img-responsive img-work-index") %>
              <% else %>
              <%= image_tag("http://placehold.it/400x300&text=work", class:"img-responsive img-work-index")%>
              <% end %>
            </div>
        <% end %>
        <!-- /.link_to designer_path -->
        <div class="portfolio-caption" >
            <h4><%= link_to work.title, designer_path(work.user.token), target: "_blank" %></h4>
            <p class="text-muted"><%= link_to work.user.nickname, designer_path(work.user.token) %></p>
        </div>



      </div>
      <% end %>

    </div>
  </div>
</section>

<div class="text-center">
    <%= will_paginate @works %>
</div>
