<%= render 'designer/header' %>

<div class="col-page" >
  <%= link_to(designer_path(@work.user.token), class:"fondo-publicacion-home") do %>
    <!-- <a href=""  class="fondo-publicacion-home"> -->
      <div class="img-publicacion-home">
        <% if @work.image.present? %>
            <%= image_tag(@work.image.thumb.url, class:"img-responsive") %>
        <% else %>
            <%= image_tag("http://placehold.it/200x200&text=work", class:"img-responsive")%>
        <% end %>
      </div>
      <div class="contenido-publicacion-home">
        <h3><%= @work.title %></h3>
        <p><%= @work.description %></p>
      </div>
      <div class="mascara-enlace-blog-home">
        <span><%= @work.user.nickname %>
          <small>的主页</small>
        </span>
      </div>
    <!-- </a> -->
  <% end %>
</div>
