<!--with header inside layout with-designer-header  -->

<div class="col-page" style="padding-top: 50px;" >
    <!-- <a href=""  class="fondo-publicacion-home"> -->
      <div>
        <% if @work.image.present? %>
            <%= image_tag(@work.image.url, class:"img-responsive") %>
        <% else %>
            <%= image_tag("http://placehold.it/800x600&text=work", class:"img-responsive")%>
        <% end %>
      </div>
      <div>
        <h3><%= @work.title %></h3>
        <p><%= @work.description %></p>
      </div>
      <div class="mascara-enlace-blog-home">
        <span><%= @work.user.nickname %>
          <small>的主页</small>
        </span>
      </div>
      <%= link_to "返回", "#", class: "btn btn-default" %>
    <!-- </a> -->
</div>
