<div id="coverphoto-designer" class="" style="background-image:url(https://s.yimg.com/pw/images/coverphoto03_h.jpg.v3)">
  <div class="position col-md-offset-1">
    <div class="coverphoto-gradient">
    </div>
    <div>
      <% if @designer.avatar.present? %>
        <%= image_tag(@designer.avatar.url, class:"avatar-designer-show ")%>
      <% else %>
        <%= image_tag("http://placehold.it/200x200&text=avatar", class:"avatar-designer-show")%>
      <% end %>
    </div>
    <div class="title-block-content ">
      <h1 class="title title-link-included pull-left">
        <%= @designer.nickname %>  的主页
      </h1>
      <%= link_to(content_tag(:i, "发起对话", class: "fa fa-paper-plane"), account_user_conversation_path(@designer.token) , :class => "designer-conversation-btn pull-left") %>
      <%= link_to("发起对话", account_user_conversation_path(@designer.token) , :class => "designer-conversation-btn pull-left") %>
    </div>
  </div>
</div>

<div class="" style="height: 50px; margin-bottom: 20px;">
</div>
<hr>

    <div class="col-page" >
      <%= link_to(designer_path(@work.user.token), class:"fondo-publicacion-home") do %>
        <!-- <a href=""  class="fondo-publicacion-home"> -->
          <div class="img-publicacion-home">
            <% if @work.image.present? %>
                <%= image_tag(@work.image.thumb.url, class:"img-responsive") %>
            <% else %>
                <%= image_tag("http://placehold.it/200x200&text=work", class:"img-responsive")%>
            <% end %>
          </div>
          <div class="contenido-publicacion-home">
            <h3><%= @work.title %></h3>
            <p><%= @work.description %></p>
          </div>
          <div class="mascara-enlace-blog-home">
            <span><%= @work.user.nickname %>
              <small>的主页</small>
            </span>
          </div>
        <!-- </a> -->
      <% end %>
    </div>
