<div class="row">
  <h3><center>我的作品</center>  </h3>
 <%= link_to("添加作品", new_admin_work_path, class: "btn btn-info btn-lg" ) %>

</div>


<hr>


<table class="table table-bordered">

  <thead>
    <tr>
      <th>作品图片</th>
      <th>作品名称</th>
      <th>作品描述</th>
      <th>创建时间</th>
      <th>参考价格</th>
      <th>编辑作品</th>
    </tr>
  </thead>
  <% @works.each do |work| %>
  <tr>
    <td>
      <% if work.image.present? %>
        <%= image_tag(work.image.thumb.url, class:"thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/200x200&text=work", class:"thumbnail")%>
      <% end %>
    </td>
    <td>
      <%= render_work_status(work) %>
      <%= work.title%>
    </td>
    <td>
      <%= work.description %>
    </td>
    <td>
      <%= work.created_at %>
    </td>
    <td>
      <%= work.price %>
    </td>
    <td>
      <%= link_to("编辑", edit_designer_work_path(work), :class => "btn btn-warning") %>
      |
      <%= link_to("删除", designer_work_path(work), :method => :delete, :data => { :confirm => "Are you sure?" }, :class => "btn btn-danger") %>
      |

     <% if work.is_hidden %>
       <%= link_to("立即发布", publish_designer_work_path(work), :method => :post, :class => "btn btn-success") %>
     <% else %>
       <%= link_to("暂不发布", hide_designer_work_path(work), :method => :post, :class => "btn btn-info") %>
     <% end %>
    </td>
  </tr>
  <% end %>
</table>


<div class="text-center">
    <%= will_paginate @works %>
</div>
