<div class="col-md-12">
  <h1>
    <%= @request.user == current_user %>
  </h1>
  <br>
    <h3 class="text-center"> 订单明细 </h3>
  <br>


<table class="table table-bordered">

  <thead>
    <tr>
      <th colspan="12">
      订单编号：<%= @request.token %>
      </th>
    </tr>
    <tr>
      <th>主题</th>
      <th>当前照片</th>
      <th>梦想照片</th>
      <th>预算</th>
      <th>创建时间</th>
      </tr>
  </thead>

  <tbody>
  <tr>
    <td>
      <%= @request.title %>
    </td>
    <td>
      <% if @request.before_picture.present? %>
        <%= image_tag(@request.before_picture.thumb.url, class:"thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/200x200&text=before_pic", class:"thumbnail")%>
      <% end %>
    </td>
    <td>
      <% if @request.dream_picture.present? %>
        <%= image_tag(@request.dream_picture.thumb.url, class:"thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/200x200&text=dream_pic", class:"thumbnail")%>
      <% end %>
    </td>
    <td>
    </td>
    <td>
      <%= @request.created_at.strftime("%F %T") %>
    </td>
  </tr>

</tbody>
</table>

<br>
  <h3 class="text-center"> 已抢单达人 </h3>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th> 达人昵称 </th>
        <th> 作品名称 </ th>
        <th> 作品图片 </th>
        <th> 参考价格 </th>
        <th> 请选择一名合作达人 </th>
      </tr>
    </thead>

    <tbody>
      <%# @requests.applicants.each do |user| %>
      <% @applicants.each do |applicant| %>
        <tr>
          <td> <%= applicant.id %>
            <%#= link_to(applicant.id, user_path(user)) %> </td>
          <td> # </td>
          <td> #  </td>
          <td> # </td>
          <td>
            <% if @request.paid? && @request.winner == applicant.id %>
              已支付，你俩可以开始整了！
              <% elsif @request.paid? && @request.winner != applicant.id %>
              不跟你整了👻
            <% end  %>

            <% if @request.selected? %>
              <% if @request.winner == applicant.id %>
              <%= link_to("掏钱整！", make_payment_account_request_path, :method => :post,:data => { :confirm => "真整啊?" }, :class => "btn btn-sm btn-danger") %>
              <% else %>
                下次再合作吧👻
              <% end %>
            <% elsif @request.request_made? %>
              <%= link_to("选我选我选我！", choose_account_request_path(@request.token,:winner => applicant),:method => :post, :class => "btn btn-sm btn-warning") %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
