<br>
<%= link_to("发起订单", new_account_request_path, class: "btn btn-danger pull-left") %>

<br><br>

<table class="table table-bordered">

  <thead>
    <tr>
      <th>主题</th>
      <th>当前照片</th>
      <th>梦想照片</th>
      <th>编辑订单</th>
      <th>创建时间</th>
      <th>抢单状态</th>
      <th> </th>
      </tr>
  </thead>

  <tbody>
  <% @requests.each do |r| %>
  <tr>
    <td>
      <%= link_to(r.title, account_request_path(r.token)) %>
    </td>
    <td>
      <% if r.before_picture.present? %>
        <%= image_tag(r.before_picture.thumb.url, class:"thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/200x200&text=before_pic", class:"thumbnail")%>
      <% end %>
    </td>
    <td>
      <% if r.dream_picture.present? %>
        <%= image_tag(r.dream_picture.thumb.url, class:"thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/200x200&text=dream_pic", class:"thumbnail")%>
      <% end %>
    </td>
    <td>
      <%= link_to("修改", edit_account_request_path(r.token), :class => "btn btn-xs btn-default") %>
      |
      <%= link_to("删除", account_request_path(r.token), :method => :delete, :data => { :confirm => "确认删除吗？" }, :class => "btn btn-xs btn-default") %>
    </td>
    <td>
      <%= r.created_at.strftime("%F %T") %>
    </td>
    <td>
      <% if r.winner.present? && r.paid? %>
        <%= link_to("已付款", "#", :class => "btn btn-xs btn-success", disabled: true) %>
      <% elsif r.winner.present? && !r.paid? %>
        <%= link_to("支付", make_payment_account_request_path(r.token),:method => :post, :class => "btn btn-xs btn-danger") %>
      <% elsif r.applicants.present? %>
        <%= link_to("查看已抢单达人", display_account_request_path(r.token),:method => :get, :class => "btn btn-xs btn-warning") %>
      <% else %>
        目前没有达人愿意帮你整，你们家真是太乱了好吗💩
      <% end %>
    </td>

    <td> <%= link_to("發起對話", account_user_conversation_path(r.user.token), :class => "btn btn-default") %>  </td>
  </tr>
  <% end %>
</tbody>
</table>
