<h3>你来到的是达人评价页面</h3>
<h1><%= @request.winner %></h1>

<h2><%= @winner.nickname %></h2>
<h2><%= @winner.sex %></h2>
<h2><%= @winner.district %><h2>
<h2><%= @winner.age %><h2>
<h2><%= @winner.description %><h2>
<h2><%= @winner.avatar %><h2>
