<% if  @request.before_picture.present? && @request.dream_picture.present? %>


  <div class="col-sm-4 col-md-4 col-lg-4" align="center">
    <br>
    <% if @request.before_picture.present? %>
      <%= image_tag(@request.before_picture.thumb.url) %>
    <% end %>
    <br>
    <br>

    <% if @request.dream_picture.present? %>
      <%= image_tag(@request.dream_picture.thumb.url) %>
    <% end %>
    <br>
  </div>



  <div class="col-sm-6 col-md-6 col-lg-6" align="center">
    <h2><%= @request.title %></h2>
    <div style="height:100px;">
      <%= @request.created_at.strftime("%F") %>

     </div>
    <br>
     <%= @request.description%>
    <br>
  </div>


<% else %>

  <div class="col-sm-12 col-md-12 col-lg-12" align="center">
    <h2><%= @request.title %></h2>
    <div style="height:100px;">
      <%= @request.created_at.strftime("%F") %>

     </div>
    <br>
     <%= @request.description%>
    <br>
  </div>

<% end %>
