
<div>
  <p>
    <%# if current_user.nickname.empty?%>
      <%#= link_to("", edit_account_user_path(current_user), class: "btn btn-danger btn-lg pull-right") %>
    <%# else %>
      <%#= link_to("修改资料", edit_account_user_path(current_user), class: "btn btn-danger btn-lg pull-right") %>
    <%# end %>
  </p>
  <p>
    <%= link_to("查看修改", edit_user_registration_path, class: "btn btn-default pull-right") %>
  </p>
</div>


<br>

<hr>
用户昵称
<h1><%= @user.nickname %></h1>
用户描述
<h2><%= @user.description %></h2>
<br>
用户头像
<br>
<%= image_tag @user.gravatar_url %>

<!-- <% if @user.avatar.present?%>
    <%= image_tag(@user.avatar.url) %>
<% else %> -->

<% end %>
<hr>

用户邮箱
<h1><%= @user.email %></h1>
