          <header>
              <div class="container">
                  <div class="intro-text" style="padding-top: 90px;">
                      <div class="intro-heading">房间赏心悦目，空间感大一倍</div>
                          <div class="intro-lead-in">
                          <br>订制个性化收纳方案
                          <br>听达人分享整理技巧
                          <br>房间干净，心情清爽
                          <br>下次搬家，说走就走
                          <br><br>
                          </div>
                        <%= link_to("立即注册，赠送达人整理手册", new_user_registration_path, class:"page-scroll btn btn-xl") %>
                  </div>
              </div>
          </header>


<!-- 线上服务流程 -->
          <section id="services">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-12 text-center" >
                          <h2 class="section-heading" >线上服务流程</h2>
                          <h3 class="section-subheading text-muted">简单便捷的服务流程，帮您轻松搞定室内杂务。</h3>
                      </div>
                  </div>
                  <div class="row text-center" style="background-color: white">
                      <div class="col-md-4">
                        <img src="http://ww3.sinaimg.cn/large/65e4f1e6jw1f9tx2nkwycj20hs08cgmb.jpg" style="width:100%">
                          <h4 class="service-heading" >发起整理需求</h4>
                          <p class="text-muted">上传自己预期的照片，简单说明整理需求。达人进行抢单，了解对方需求。由用户选定一名达人进行合作并付款。</p>
                      </div>
                      <div class="col-md-4">
                        <img src="http://ww3.sinaimg.cn/large/65e4f1e6jw1f9tx2nijm7j20hs08caam.jpg" style="width:100%">

                          <h4 class="service-heading">线上指导</h4>
                          <p class="text-muted">达人给出解决方案，用户购置相关物品，由达人在线指导整理。</p>
                      </div>
                      <div class="col-md-4">
                        <img src="http://ww4.sinaimg.cn/large/65e4f1e6jw1f9tx2ngeycj20hs08cmy4.jpg" style="width:100%">

                          <h4 class="service-heading">焕然一新</h4>
                          <p class="text-muted">房间焕然一新，发朋友圈炫耀！如果你满意达人提供的服务，记得给好评哦。</p>
                      </div>
                  </div>
              </div>
          </section>


<!-- 优选达人作品 -->
        <section id="portfolio" class="bg-light-gray">
            <div class="container" >
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">达人优选作品</h2>
                        <h3 class="section-subheading text-muted">点击你喜欢的作品，和达人发起会话！</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                            <div class="portfolio-hover">
                            </div>
                            <%= image_tag "portfolio/organize1.jpg", class: "img-responsive"%>
                        </a>
                        <div class="portfolio-caption">
                            <h4>玄关收纳</h4>
                            <p class="text-muted">@正一宏洪</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                            <div class="portfolio-hover">

                            </div>
                            <%= image_tag "portfolio/organize2.jpg", class: "img-responsive"%>
                        </a>
                        <div class="portfolio-caption">
                            <h4>厨房收纳</h4>
                            <p class="text-muted">@深泽直人</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                            <div class="portfolio-hover">

                            </div>
                            <%= image_tag "portfolio/organize3.jpg", class: "img-responsive"%>
                        </a>
                        <div class="portfolio-caption">
                            <h4>衣橱收纳</h4>
                            <p class="text-muted">@山下英子</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>


  <!-- 合作伙伴 -->
        <aside class="clients">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <a href="#">
                          <%= image_tag "logos/logo1.png", class: "img-responsive img-centered"%>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <a href="#">
                          <%= image_tag "logos/logo2.jpeg", class: "img-responsive img-centered"%>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <a href="#">
                          <%= image_tag "logos/logo3.jpeg", class: "img-responsive img-centered"%>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <a href="#">
                          <%= image_tag "logos/logo4.png", class: "img-responsive img-centered"%>
                        </a>
                    </div>
                </div>
            </div>
        </aside>

        <!-- Call to Action Section -->
        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading color=black">明天清晨醒来，房间像刚收拾过一样整洁。</h2>
                        <h3 class="section-subheading text-muted">现在注册获取50元优惠券。</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                            <div class="row">
                                <div class="clearfix"></div>
                                <div class="col-lg-12 text-center">
                                    <div id="success"></div>

                                      <%= link_to("立即注册！", new_user_registration_path, class:"page-scroll btn btn-xl style: 400px;") %>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </section>
