
<div class="publicaciones-blog-home">
  <div id="designer-container">
    <div class="">
      <h2><b>达人</b><small>广场</small></h2>
      <div class="row-page row">

        <% @designers.each do |designer| %>
            <div class="col-page col-sm-4 col-md-3">
              <%= link_to(designer_path(designer.token), class:"fondo-publicacion-home") do %>
                <!-- <a href=""  class="fondo-publicacion-home"> -->
                  <div class="img-publicacion-home">
                    <% if designer.avatar.present? %>
                        <%= image_tag(designer.avatar.url, class:"thumbnail img-responsive") %>
                    <% else %>
                        <%= image_tag("http://placehold.it/300x300&text=designer avatar", class:"img-responsive")%>
                    <% end %>
                  </div>
                  <div class="contenido-publicacion-home">
                    <h3><%= designer.nickname %></h3>
                    <p><%= designer.description %></p>
                  </div>
                  <div class="mascara-enlace-blog-home">
                    <span><%= designer.nickname %>
                      <small>的主页</small>
                    </span>
                  </div>
                <!-- </a> -->
              <% end %>
            </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
