<%= render 'designer/header' %>

<div class="publicaciones-blog-home">
  <div class="container" style="margin-left: -15px;">
    <div class="" style="margin-top: -70px; ">
      <br>
      <h2>作品总览</h2>
      <div class="row-page row" >

        <% @works.each do |work| %>
            <div class="col-page col-sm-6 col-md-4">
              <%= link_to(work_path(work), class:"fondo-publicacion-home") do %>
                <!-- <a href=""  class="fondo-publicacion-home"> -->
                  <div class="img-publicacion-home" style="max-height: 600px;">
                    <% if work.image.present? %>
                        <%= image_tag(work.image.thumb.url, class:"img-responsive") %>
                    <% else %>
                        <%= image_tag("http://placehold.it/400x400&text=work", class:"img-responsive")%>
                    <% end %>
                  </div>
                  <div class="contenido-publicacion-home">
                    <h3><%= work.title %></h3>
                    <!-- <p><%= work.description %></p> -->
                  </div>
                  <div class="mascara-enlace-blog-home">
                    <span>
                      <!-- <%= work.title %>: -->
                      <p>
                        <small><%= work.description %></small>
                      </p>
                    </span>
                  </div>
                <!-- </a> -->
              <% end %>
            </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
