<br><br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>主题</th>
      <th>当前照片</th>
      <th>理想照片</th>
      <th>发单用户</th>
      <th>创建时间</th>
      <th>抢单</th>
      </tr>
  </thead>
  <tbody>
    <% @requests.each do |r| %>
    <tr>
      <td>
        <%= r.title %>
      </td>
      <td>
        <% if r.before_picture.present? %>
          <%= image_tag(r.before_picture.thumb.url, class:"thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200", class:"thumbnail")%>
        <% end %>
      </td>
      <td>
        <% if r.dream_picture.present? %>
          <%= image_tag(r.dream_picture.thumb.url, class:"thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200", class:"thumbnail")%>
        <% end %>
      </td>
      <td>
        <% if r.user.present? %>
        <%= r.user.nickname %>
        <% end %>
      </td>
      <td>
        <%= r.created_at.strftime("%F") %>
      </td>
      <td>
        <% if r.has_been_applied_by?(current_user) %>
          <a href="#" class="btn btn-warning" disabled> 已抢单 </a>
        <% else %>
          <%= link_to("抢单！", join_applicants_admin_request_path(r.token), method: :post, class: "btn btn-danger") %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
