<h2 class="text-center"></h2>

<br>




<div class="container">
		<div class="row">
			<div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
				<ul class="event-list">
          <% @requests.shuffle.each do |r| %>
            <li>
  						<time>
  							<span class="day"> <%= r.created_at.strftime("%d") %> </span>
  							<span class="month"><%= r.created_at.strftime("%b") %></span>
  							<span class="year"><%= r.created_at.strftime("%y") %></span>
  							<span class="time">4:00 PM</span>
  						</time>
              <% if r.dream_picture.present? %>
              <%= image_tag(r.dream_picture.thumb.url, class:"thumbnail") %>
              <% end %>
  						<div class="info">
  							<h2 class="title"><%= link_to(r.title,r.token) %></h2>
  							<p class="desc"><%= r.description%></p>
  							<ul>
  								<li style="width:33%;">
                    <%= link_to("抢单并发起对话", account_user_conversation_path(r.user.token) ) %>
                  </li>
  								<li style="width:34%;">
                    <%= link_to("抢单！", join_applicants_admin_request_path(r.token), method: :post) %>
                  </li>
  							</ul>
  						</div>

  					</li>
          <% end %>
          <div class="text-center">
            <%= will_paginate @requests %>
          </div>
				</ul>
			</div>
		</div>
	</div>
