<h2 class="text-center"></h2>

<br>

<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-offset-2 col-sm-8">
				<ul class="event-list">
          <% @requests.shuffle.each do |r| %>

            <li>
  						<time>
  							<span class="day"> <%= r.created_at.strftime("%d") %> </span>
  							<span class="month"><%= r.created_at.strftime("%b") %></span>
  							<span class="year"><%= r.created_at.strftime("%y") %></span>
  						</time>
              <% if r.dream_picture.present? %>
              <%= image_tag(r.dream_picture.thumb.url) %>
              <% end %>
  						<div class="info">
  							<h2 class="title"><%= link_to(r.title,request_path(r.token)) %></h2>
  							<p class="desc"><%= r.description%></p>
  							<ul>
									<li style="width:33%;">
										<%= link_to(content_tag(:i, " 发起对话", class: "fa fa-comments" ), account_user_conversation_path(r.user.token)) %>

									</li>
  								<li style="width:34%;">
										<% unless r.applicants.include?(current_user) %>
										<%= link_to(content_tag(:i, " 抢单", class: "fa fa-hand-paper-o" ), join_applicants_designer_request_path(r.token), method: :post, data:{comfirm: "你已抢单"} )%>
										<% else %>
										<%= link_to content_tag(:i, " 已抢单", class: "fa fa-check" ), designer_requests_path(current_user) %>
										<% end %>
                  </li>
  							</ul>
  						</div>

  					</li>
          <% end %>
          <div class="text-center">
            <%= will_paginate @requests %>
          </div>
				</ul>
			</div>
		</div>
	</div>
