<h1> 发起任务 </h1>

<%= simple_form_for @request do |f| %>

<%= f.input :title, label: "任务名称"%>
<%= f.input :description, label: "任务描述" %>
<%= f.input :BeforePicture, label: "现实图片" %>
<%= f.input :DreamPicture, label: "理想图片" %>



  <%= f.submit "Submit" %>
<% end %>
