<h2 class="text-center">让你的房间大一倍！</h2>

<hr>
<br>

<div class="container main col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-xs-12">

  <%= simple_form_for @request do |f| %>

  <%= f.input :title, :label =>  "主题", placeholder: "我要美化／收纳／设计自己的房间" %>
  <%= f.input :description, :label =>  "描述", placeholder: "我有一个20平米的房间，想要收纳进一个大号的空气净化器" %>

  <div class="row main">
    <div class="col-md-6 table table-bordered" style="height: 200px;">
      <%= f.input :before_picture, :label =>  "我房间现在的样子" %>
    </div>
    <div class="col-md-6 table table-bordered" style="height: 200px;">
      <%= f.input :dream_picture, :label =>  "想变化后的样子", class: "block image" %>
    </div>
  </div>

  <div class="row main">
    <%= f.submit "提交我的订单", class: "btn btn-default btn-request" %>
    <%= link_to "取消返回", new_request_path, class: "btn btn-default btn-request"%>
  </div>
  <% end %>

</div>
