<div class="pull-right">
  <%= link_to("添加作品", new_admin_work_path, :class => "btn btn-default" ) %>
</div>


<table class="table table-boldered">
  <% @works.each do |work| %>
  <tr>
    <td>
      <%= link_to(work.title, admin_work_path(work) )%>
    </td>
    <td>
      <%= work.description %>
    </td>
    <td>
      <%= work.price %>
    </td>
    <td>
      <%= work.image %>
    </td>
    <td>
      <%= link_to(work.title, admin_work_path(work)) %>
    </td>
    <td>
      <%= link_to("Edit", edit_admin_work_path(work)) %>
      |
      <%= link_to("Destroy", admin_work_path(work), :method => :delete, :data => { :confirm => "Are you sure?" }) %>
    </td>
  </tr>
  <% end %>
</table>
