
<div class="container col-md-10 col-md-offset-1" style="margin-top:70px">
  <div class="panel panel-default">
    <div class="panel-heading">

<% @receipts %>
      <%= @receipts.first.nickname %>   与   <%= @receipts.last.nickname  %> 的对话



      <div class="panel-body">
        <div class="messages">
          <% @conversation.receipts_for(current_user).each do |receipt| %>
          <% message = receipt.message %>
          <% if message.sender == current_user %>
          <div class="text-right" style="background-color:; height: 30px;">
            <h4>
              <%= message.body %>
            </h4>
          </div>
          <% else %>
          <div class="" style="background-color: ;">
            <p>
              <span style="color: blue;">
                <%= message.sender.email %>
              </span>
              <span style="color: blue;">
                says at <%= message.created_at.strftime("%F %T") %>
              </span>
            </p>
            <h3 style="margin-top: -5px;">
              <%= message.body %>
            </h3>
          </div>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <%= form_tag reply_account_conversation_path(@conversation), method: :post do %>
    <div class="form-group">
      <%= text_area_tag 'body', nil, cols: 3, class: 'form-control', placeholder: 'Type something...', required: true %>
    </div>
    <%= submit_tag "Send Message", class: 'btn btn-primary' %>
    <% end %>

</div>
</div>
