<header>
  <div class="user_background_image" style="margin-top:70px">
  </div>
</header>





<div class="container">
  <div class="row">
    <div class="col-md-8 col-xs-10">
      <div class="well panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-sm-4 text-center">
              <%= render partial: "common/avatar"%>
            </div>
            <!--/col-->
            <div class="col-xs-12 col-sm-8">
              <h2><%= current_user.nickname %></h2>
              <p><strong>个性签名: </strong> <%= current_user.description %></p>
              <p><strong>邮箱: </strong> <%= current_user.email %></p>
              <p><strong>年龄: </strong> <%= current_user.age %></p>
              <p><strong>性别: </strong> <%= current_user.sex %></p>
              <p><strong>地区: </strong> <%= current_user.district %></p>
              <p>
                  <% if current_user.is_designer? %>
                    <%= render :partial => "common/admin_homepage_extra" %>
                  <% end %>
              </p>
              <!-- <p><strong>Skills: </strong>
                <span class="label label-info tags">html5</span>
                <span class="label label-info tags">css3</span>
                <span class="label label-info tags">jquery</span>
                <span class="label label-info tags">bootstrap4</span>
              </p> -->
            </div>
            <!--/col-->
            <div class="clearfix"></div>
            <div class="col-xs-12 col-sm-4">
            <br>
            <br>
               <%= link_to " 更改资料", edit_account_user_path(current_user.token), class: "btn btn-block btn-info" %>

            </div>
            <!--/col-->
            <div class="col-xs-12 col-sm-4">
              <br>
              <br>
                <%= link_to " 修改密码", edit_user_registration_path, class: "btn btn-block btn-success" %>
            </div>
            <!--/col-->
            <div class="col-xs-12 col-sm-4">
              <br>
              <br>

              <% unless current_user.is_designer%>
                    <% unless current_user.is_candidate %>
                    <%= link_to "申请成为达人", new_work_path, class: "btn btn-block btn-primary" %>
                    <% else %>
                    <label class="label label-danger label-block">已经申请成为达人，请等待审核</label>
                    <% end %>
              <% end %>

            </div>
            <!--/col-->
          </div>
          <!--/row-->
        </div>
        <!--/panel-body-->
      </div>
      <!--/panel-->
    </div>
    <!--/col-->
  </div>
  <!--/row-->
</div>
<!--/container-->



<br>
