<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'> -->

<div class="container">
    <div class="row">



        <div class="col-md-13">

            <div class="panel panel-default panel-table">
              <div class="panel-heading">
                <div class="row">
                  <div class="col col-xs-6">
                    <h3 class="panel-title">全部订单</h3>
                  </div>
                </div>
              </div>
              <div class="panel-body">
                <% @requests.each do |r| %>
                <table class="table table-striped table-bordered table-list">
                  <thead>
                    <tr >
                        <th class="text-center">订单主题</th>
                        <th class="text-center">当前照片</th>
                        <th class="text-center">理想照片</th>
                        <th class="text-center">订单描述</th>
                        <th class="text-center">创建时间</th>
                        <th class="text-center">发单用户</th>
                        <th class="text-center">合作对象</th>
                        <th class="text-center">订单状态</th>
                    </tr>
                  </thead>
                  <tbody>
                          <tr>
                            <!-- <td align="center">
                              <%= link_to edit_account_request_path(r.token), class: "btn btn-default" do %>
                              <i class="fa fa-pencil"></i>
                            <% end %>
                              |
                              <%= link_to account_request_path(r.token), class: "btn btn-danger", :method => :delete, :data => { :confirm => "确认删除吗？" } do %>
                              <i class="fa fa-trash"></i>
                              <% end %>
                            </td> -->
                            <td class="hidden-xs">
                              <%= link_to(r.title, account_request_path(r.token)) %>
                            </td>
                            <td>
                              <% if r.before_picture.present? %>
                                <%= image_tag(r.before_picture.thumb.url, class:"thumbnail") %>
                              <% else %>
                                <%= image_tag("http://placehold.it/200x200", class:"thumbnail")%>
                              <% end %>
                            </td>
                            <td>
                              <% if r.dream_picture.present? %>
                                <%= image_tag(r.dream_picture.thumb.url, class:"thumbnail") %>
                              <% else %>
                                <%= image_tag("http://placehold.it/200x200", class:"thumbnail")%>
                              <% end %>
                            </td>
                            <td>
                              <%= r.description %>
                            </td>
                            <td>
                              <%= r.created_at.strftime("%F %T") %>
                            </td>
                            <td>
                              <% if r.user.present? %>
                              <%= r.user.nickname %>
                              <% end %>
                            </td>
                            <td>
                              <% if r.winner.present? %>
                              达人<%= r.winner %>
                              <% else %>
                                尚无
                              <% end %>
                            </td>


                            <td>
                              <% if r.winner.present? && r.paid? %>
                                <%= link_to("已付款", "#", :class => "btn btn-xs btn-success", disabled: true) %>
                              <% elsif r.winner.present? && !r.paid? %>
                                <%= link_to("支付", make_payment_account_request_path(r.token),:method => :post, :class => "btn btn-xs btn-danger") %>
                              <% elsif r.applicants.present? %>
                                <%= link_to("查看已抢单达人", display_account_request_path(r.token),:method => :get, :class => "btn btn-xs btn-warning") %>
                              <% else %>
                                暂无人接单，可以去达人广场逛逛哦
                              <% end %>
                            </td>

                          </tr>
                        </tbody>
                </table>

                <% end %>
              </div>

<div class="text-center">
    <%= will_paginate @requests %>
</div>
