<div>
 <h3>全部订单</h3>
</div>

<hr>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>主题</th>
      <th>当前照片</th>
      <th>理想照片</th>
      <th>发单用户</th>
      <th>创建时间</th>
      <th>合作对象</th>
      <th>订单状态</th>
      </tr>
  </thead>
  <tbody>
    <% @requests.each do |r| %>
    <tr>
      <td>
        <%= r.title %>
      </td>
      <td>
        <% if r.before_picture.present? %>
          <%= image_tag(r.before_picture.thumb.url, class:"thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200", class:"thumbnail")%>
        <% end %>
      </td>
      <td>
        <% if r.dream_picture.present? %>
          <%= image_tag(r.dream_picture.thumb.url, class:"thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200", class:"thumbnail")%>
        <% end %>
      </td>
      <td>
        <% if r.user.present? %>
        <%= r.user.nickname %>
        <% end %>
      </td>
      <td>
        <%= r.created_at.strftime("%F") %>
      </td>
      <td>
        <% if r.paid? %>
          对方已支付，你俩可以开始整了！
        <% elsif r.winner.present? && r.winner == current_user.id %>
          <%= link_to("厉害了，订单是你的了","#",class: "btn btn-success btn-sm",disabled: :true)%>
        <% elsif r.winner.present? && r.winner != current_user.id %>
          <%= link_to("订单被别人抢走了","#",class: "btn btn-info btn-sm",disabled: :true)%>
        <% elsif !r.winner.present? && !r.applicants.include?(current_user) %>
          <%= link_to("抢单！", join_applicants_admin_request_path(r.token), method: :post, class: "btn btn-sm btn-danger") %>
        <% elsif r.applicants.present? && r.applicants.include?(current_user) %>
          <%= link_to("已抢单","#",class: "btn btn-warning btn-sm",disabled: :true)%>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
