<br><br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>主题</th>
      <th>当前照片</th>
      <th>理想照片</th>
      <th>用户</th>
      <th>创建时间</th>
      <th>当前状态</th>
      <th>抢单</th>
      </tr>
  </thead>
  <tbody>
    <% @requests.each do |r| %>
    <tr>
      <td>
        <%= r.title %>
      </td>
      <td>
        <% if r.before_picture.present? %>
          <%= image_tag(r.before_picture.thumb.url, class:"thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200", class:"thumbnail")%>
        <% end %>
      </td>
      <td>
        <% if r.dream_picture.present? %>
          <%= image_tag(r.dream_picture.thumb.url, class:"thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200", class:"thumbnail")%>
        <% end %>
      </td>
      <td>
        <%= r.user_id%>
      </td>
      <td>
        <%= r.created_at %>
      </td>
      <td>
        <%= r.aasm_state %>
      </td>
      <td>
        <% if r.request_made? %>
          <%= link_to("抢单！", join_applicants_admin_request_path(r.token), method: :post, class: "btn btn-danger") %>
        <% elsif !r.winner.present?%>
          <a href="#" class="btn btn-warning" disabled> 已抢单 </a>
        <% elsif r.winner.present? && r.winner == current_user.id %>
          <a href="#" class="btn btn-success" disabled> 厉害了，订单是你的了 </a>
        <% else r.winner.present? && !r.winner == current_user.id %>
          <a href="#" class="btn btn-info" disabled> 订单已经被人抢走了 </a>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
