<div>
  <%= link_to("个人资料", edit_account_user_path(current_user), class: "btn btn-default") %>
  <%= link_to("变更密码", edit_user_registration_path, class: "btn btn-default") %>
</div>

<table class="table table-bordered">

<hr>

  <thead>
    <tr>
      <th>Email</th>
      <th>昵称</th>
      <th>身份</th>
      <th>权限</th>
      <th>创建时间</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td>
        <%= user.email  %>
      </td>
      <td>
        <%= user.nickname %>
      </td>
      <td>
        <% if user.is_admin %>
          <%= "达人" %>
        <% else %>
          <%= "申请人" %>
          <% end %>
      </td>
      <td>
        <% if user.is_admin %>
          <%= link_to("设为申请人", make_user_admin_user_path(user) , method: :post, :class => "btn btn-sm btn-warning") %>
        <% else %>
          <%= link_to("设为达人", make_admin_admin_user_path(user), :method => :post,  :class => "btn btn-sm btn-info") %>
        <% end %>
      </td>
      <td>
        <%= user.created_at.strftime("%F") %>
      </td>
    </tr>
  <% end %>
</table>
