<div class="col-md-9 ">


<div  class="text-center">
 <h3 >全部用户</h3>
</div>

<hr>

<table class="table table-bordered">


  <thead>
    <tr>
      <th>Email</th>
      <th>昵称</th>
      <th>身份</th>
      <th>权限</th>
      <th>创建时间</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td>
        <%= user.email  %>
      </td>
      <td>
        <%= user.nickname %>
      </td>
      <td>
        <% if user.is_designer %>
          <%= "达人" %>
        <% else %>
          <%= "申请者" %>
          <% end %>
      </td>
      <td>
        <% if user.is_designer %>
          <%= link_to("设为申请人", make_user_admin_user_path(user.token) , method: :post, :class => "btn btn-sm btn-warning") %>
        <% else %>
          <%= link_to("设为达人", make_admin_admin_user_path(user.token), method: :post, :class => "btn btn-sm btn-info") %>
        <% end %>
      </td>
      <td>
        <%= user.created_at.strftime("%F %T") %>
      </td>
    </tr>
  <% end %>
</table>
</div>
