<!-- <<<<<<< HEAD
<nav id="header" class="navbar navbar-fixed-top">
    <div id="header-container" class="container navbar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            </button>
            <a id="brand" class="navbar-brand" href="/">
              <img id="logo" src="http://ww1.sinaimg.cn/large/65e4f1e6jw1f9v6y3frsuj209b09bq2w.jpg">
            </a>
        </div>

======= -->
<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top affix">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">包整</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
          <% unless current_user && current_user.is_designer && !current_user.is_admin%>
            <li> <%= nav_link("整理房间！", new_request_path) %> </li>
          <% end %>
            <li> <%= nav_link("看作品", works_path) %> </li>
          <% if current_user && current_user.is_designer?%>
            <li> <%= nav_link("抢订单", requests_path) %> </li>
          <% end %>
            <li> <%= nav_link("达人广场", designers_path) %> </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <% if !current_user %>
            <li><%= nav_link("免费注册", new_user_registration_path) %> </li>
            <li><%= nav_link("会员登入", new_user_session_path) %></li>
          <% elsif !current_user.is_designer? && !current_user.is_admin?%>
            <li><%= nav_link("我的订单", account_requests_path(current_user.token)) %> </li>
            <li><%= nav_link("我的消息", account_conversations_path) %> </li>
          <% elsif current_user.is_designer?%>
            <li><%= nav_link("我的抢单", designer_requests_path(current_user.token)) %> </li>
            <li><%= nav_link("我的消息", designer_conversations_path) %> </li>
          <% end %>

          <% if current_user %>
            <li class="dropdown nav-drop">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                   <%= current_user.nickname %>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                  <% if !current_user.is_designer? && !current_user.is_admin?%>
                  <li><%= link_to("用户中心", account_user_path(current_user.token)) %></li>
                  <li role="separator" class="divider"></li>
                <% elsif current_user.is_designer? %>
                    <li> <%= link_to("达人后台", designer_requests_path(current_user.token)) %> </li>
                    <li role="separator" class="divider"></li>
                <% elsif current_user.is_admin? %>
                  <li> <%= link_to("管理员后台", admin_users_path) %> </li>
                  <li role="separator" class="divider"></li>
                <% end %>
                <li> <%= link_to("登出", destroy_user_session_path, method: :delete) %> </li>
               </ul>
            </li>
          <% end %>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
