<!-- <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <!-- <div class="navbar-header">
            <a class="navbar-brand" href="/">
          <img src="http://ww2.sinaimg.cn/large/65e4f1e6jw1f9tpq71wkwj208o089jrq.jpg" style="width: 60px" "height: 60px">
            </a>
        </div> -->




        <!-- Second navbar for sign in -->
         <nav class="navbar navbar-default">
           <div class="container">
             <!-- Brand and toggle get grouped for better mobile display -->
             <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">

               </button>
               <a class="navbar-brand" href="/">
                 <img src="http://ww1.sinaimg.cn/large/65e4f1e6jw1f9v6y3frsuj209b09bq2w.jpg" style="width: 40px" "height: 40px">
               </a>
               <ul class="nav navbar-nav navbar-left">
                 <li>
                   <%= link_to("âž• å‘è®¢å•", new_request_path) %>
                 </li>
                 <li>
                   <%= link_to("ðŸ“¦ çœ‹ä½œå“", works_path) %>
                 </li>
                 <li>
                   <%= link_to("ðŸ™‹ðŸ» æŠ¢è®¢å•", requests_path) %>
                 </li>
               </ul>
             </div>

             <!-- Collect the nav links, forms, and other content for toggling -->
             <div class="collapse navbar-collapse" id="navbar-collapse-2">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                      <% if !current_user %>
                        <li><%= link_to("å…è´¹æ³¨å†Œ", new_user_registration_path) %> </li>
                        <li><%= link_to("ä¼šå‘˜ç™»å…¥", new_user_session_path) %></li>
                      <% else %>
                        <li><%= link_to("ðŸ—‚ æˆ‘çš„è®¢å•", account_requests_path(current_user.token)) %> </li>
                        <li><%= link_to("ðŸ’Œ æˆ‘çš„æ¶ˆæ¯", conversations_path) %> </li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                              <% if current_user.nickname.present?%>
                                Hi!, <%= current_user.nickname %>
                              <% else %>
                                Hi!, <%= current_user.email %>
                              <% end %>
                              <b class="caret"></b>
                          </a>
                          <ul class="dropdown-menu">
                            <li><%= link_to("ç”¨æˆ·ä¸­å¿ƒ", account_user_path(current_user.token)) %></li>
                            <br>
                            <% if current_user.admin? %>
                            <li> <%= link_to("è¾¾äººåŽå°", admin_works_path) %> </li>
                            <hr>
                            <% end %>
                            <li> <%= link_to("ç™»å‡º", destroy_user_session_path, method: :delete) %> </li>
                           </ul>
                        </li>
                      <% end %>
                    </li>
                </ul>


               <!-- <div class="collapse nav navbar-nav nav-collapse slide-down" id="nav-collapse2">
                 <form class="navbar-form navbar-right form-inline" role="form">
                   <div class="form-group">
                     <label class="sr-only" for="Email">Email</label>
                     <input type="email" class="form-control" id="Email" placeholder="Email" autofocus required />
                   </div>
                   <div class="form-group">
                     <label class="sr-only" for="Password">Password</label>
                     <input type="password" class="form-control" id="Password" placeholder="Password" required />
                   </div>
                   <button type="submit" class="btn btn-success">Sign in</button>
                 </form>
               </div> -->


             </div><!-- /.navbar-collapse -->
           </div><!-- /.container -->
         </nav><!-- /.navbar -->












        <!-- Collect the nav links, forms, and other content for toggling -->
        <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                  <% if !current_user %>
                    <li><%= link_to("æ³¨å†Œ", new_user_registration_path) %> </li>
                    <li><%= link_to("ç™»å…¥", new_user_session_path) %></li>
                  <% else %>
                    <li><%= link_to("ç”¨æˆ·ä¸­å¿ƒðŸ•´", account_user_path(current_user)) %> </li>
                    <li> <%= link_to(content_tag(:i, "æˆ‘çš„é‚®ç®±", class: "fa fa-envelope"), conversations_path) %> </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <% if current_user.nickname.present?%>
                            Hi!, <%= current_user.nickname %>
                          <% else %>
                            Hi!, <%= current_user.email %>
                          <% end %>
                          <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                        <li>
                          <%= link_to(content_tag(:i, " ç”¨æˆ·ä¸­å¿ƒ", class: "fa fa-user"), account_requests_path(current_user)) %>
                        </li>

                        <% if current_user.admin? %>
                        <br>
                          <li>
                              <%= link_to(content_tag(:i, " ç®¡ç†å‘˜ä¸­å¿ƒ", class: "fa fa-user-circle"), admin_works_path) %>
                          </li>
                        <% end %>
<<<<<<< HEAD

                        <hr>

                        <li>
                          <%= link_to(content_tag(:i, " ç™»å‡º", class: "fa fa-sign-out"), destroy_user_session_path, data: { confirm: "Are you sure?" }, method: :delete) %>
                        </li>
=======
                        <li> <%= link_to("ç™»å‡º", destroy_user_session_path, data: { confirm: "Are you sure?" }, method: :delete) %> </li>
>>>>>>> develop
                      </ul>
                    </li>
                  <% end %>
                </li>
            </ul>
        </div> -->
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
