<!DOCTYPE html>
<html lang="en">
    <body>

      <head>
          <title> 包整 </title>
          <%= csrf_meta_tags %>

          <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
          <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      </head>

        <div class="container">
            <%= render "common/navbar" %>
            <%= render "common/flashes" %>
            <div class="row main">

             <div class="col-xs-6 col-sm-3 col-md-2">
               <div class="container-fluid">
               <div class="row">
               <div class="col-sm-4 col-md-2 sidebar">
                 <ul class="nav nav-sidebar">
               <h3 style="max-width: 250px;margin-left: 12px;"><i class="fa fa-user fa-1x "> 管理员后台</i></h3>

               <li class="active"> <%= link_to(content_tag(:i, " 全部用户", class: "fa fa-users"), admin_users_path) %></li>
               <li class="active"> <%= link_to(content_tag(:i, " 全部订单", class: "fa fa-archive"), admin_requests_path) %> </li>
               <li class="active"> <%= link_to(content_tag(:i, " 全部作品", class: "fa fa-archive"), admin_works_path) %> </li>

               </ul>
             </div>
             </div>
             </div>
             </div>

              <div class="col-md-10">
                <%= yield %>
              </div>

        </div>
  </div>
</div>
  <%= render "common/footer" %>

</body>



    <!-- Bootstrap core JavaScript

</html>
