<!DOCTYPE html>
<html lang="en">
    <body>

      <head>
          <title> 包整 </title>
          <%= csrf_meta_tags %>

          <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
          <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      </head>

        <div class="container">
            <%= render "common/navbar" %>
            <%= render "common/flashes" %>
            <div class="row main">
<!-- <<<<<<< HEAD -->
<!--
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 sidebar">
          <ul class="nav nav-sidebar">

              <h3 style="max-width: 250px;">管理员后台</h3>

            <li class="active"> <%= link_to(content_tag(:i, " 全部用户", class: "fa fa-users"), admin_users_path) %></li>
            <li class="active"> <%= link_to(content_tag(:i, " 全部订单", class: "fa fa-archive"), admin_requests_path) %> </li>
          </ul> -->
 <!-- ======= -->
             <div class="col-sm-4 col-md-2 margin-left:20px; ">
                <h3 style="max-width: 250px;margin-left: 28px;"> 管理员后台</h3>

                  <ul class="list-group" style="max-width: 250px; padding-top:15px; margin-left: 20px;">

                   <li class="list-group-item">
                    <%= link_to(content_tag(:i, " 全部用户", class: "fa fa-users"), admin_users_path) %>
                   </li>
                   <li class="list-group-item">
                    <%= link_to(content_tag(:i, " 全部订单", class: "fa fa-archive"), admin_requests_path) %>
                   </li>
                   <li class="list-group-item">
                    <%= link_to(content_tag(:i, " 全部工作", class: "fa fa-file-image-o"), admin_works_path) %>
                   </li>
                </ul>
              </div>

              <div class="col-md-10">
                <%= yield %>
              </div>
<!-- >>>>>>> develop -->
        </div>
  </div>
</div>
  <%= render "common/footer" %>

</body>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

</html>
